<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Informações</title>
</head>
<body>
    <h1>login</h1>
    <form action="submit" method="POST">{% csrf_token %}
        <div align="center">
            <label>Usuário</label>
            <input type=text name="username">
            <label>Password</label>
            <input type="password" name="password">
            <button type="submit">Entrar</button>
        </div>
    </form>

    {% for message in messagens%}
        <div align="center">
            <strong>Erro</strong>{{ message }}
        </div>
    {% endfor %}

</body>
</html>